@font-face{
    font-family: pokemon1;
    src:url(../../assets/Pokemon\ Solid.ttf)
    
  }
  .land{
    background: url('../../img/hooh.png') no-repeat center center fixed;
    background-size: cover;
    height: 100vh;
    width: 100vw;
  }
  
  .image{
    width: 30vw;
    height: 25vh;
    margin-top: 15vh;
    margin-left: 0vw;
  }
  
  .autor{
    font-size: 2vw;
    margin-top: -5vh;
    margin-left: 0vw;
    color: #00e783b8;
   
    
  }
  
  .btnIng{
    width: 20vw;
    height: 5vh;
    margin-top: 5vh;
    margin-left: 0vw;
    background-color: #245bf1;
    color: rgb(184, 184, 184);
    border: none;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(255, 255, 255, 0.651);
    font-size: 1.5vw;
    font-weight: bold;
    cursor: pointer; 
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    overflow: hidden;
    transition: 0.2s;
    &:hover{
      color: #313131;
      background-color: none;
      box-shadow: 0 0 20px #AA76EE, 0 0 40px #AA76EE, 0 0 80px #AA76EE;
      transition: 1.2s;
      border: none;
  } 
    
  }
  
  
  
  